#top-content-container {
    padding-top: 4%;
    background-color: #003c8f;
    background-image: linear-gradient(45deg, #000814, #003c8fed);
    background-repeat: no-repeat;
    background-size: cover;
}

html, body {
    background-color: #000a12;
}

body {
    position: relative;
}

#main-logo {
    max-width: 60%;
}

#navbar {
    background-color: #263238;
    font-style: italic;
}

#navbar a {
    color: white;
}

#navbar a.nav-link.active {
    border-radius: 0 !important;
    background-color: white;
    color: black;
    font-weight: bold;
}

#video-content-embed {
    background-color: #263238;
    border: 4px solid white;
}

* {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    /*font-style: italic;*/
}

.font-alt, h1, h2, h3, h4, h5, h6 {
    font-style: normal;
    font-weight: bold;
}

#main-title {
    padding-top: 16px;
    max-width: 80%;
}

#footer {
    margin-top: 200px;
    background-color: #263238;
}

.btn-outline-dark {
    background: #263238;

}

.btn-outline-dark:hover {
    background: black;
    border-color: white;
}

.footer-text {
    padding-top: 16px;
    padding-bottom: 8px;
}

.main-section {
    padding-top: 32px;
    padding-bottom: 32px;
}

/*.main-section:first-child {
    padding-top: 64px;
}*/

.main-section:not(:first-child) {
    border-top: 1px solid white;
}

.event-row {
    padding-top: 32px;
}

.carousel-text {
    display: block;
    width: min-content;
    white-space: nowrap;
}

.blinking {
    height: 1em;
    width: 1em;
    margin-right: 0.2em;

    -webkit-animation: 3s blink ease infinite;
    -moz-animation: 3s blink ease infinite;
    -ms-animation: 3s blink ease infinite;
    -o-animation: 3s blink ease infinite;
    animation: 3s blink ease infinite;
}


@keyframes blink {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-ms-keyframes blink {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@-o-keyframes blink {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}